*.DS_Store
*.class
*.log
*.swp
*~

# sbt specific
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/
project/metals.sbt
.history
local.sbt

# VS Code
.vscode/

# Metals / Bloop
.bloop/
.metals/
metals.sbt

# IntelliJ
.idea
.idea_modules

.env
CLAUDE.md